.container {
	margin-top: 80px;
	width: 90%;
}

.breadcrumb {
	padding: 5px;
	font-size: 15px;
	color: #fff;
	background: rgba(0, 0, 0, 0.103);
	display: inline-block;
	border-radius: 15px;
	text-shadow: 0 1px 0 rgba(102, 102, 102, 0.904);
	font-weight: 600;
}

.breadcrumb a {
	color: #fff;
	text-decoration: none;
}

.breadcrumb li {
	display: inline-block;
	padding: 0 20px;
	line-height: 30px;
	background: #acd1f9;
	position: relative;
	border: 0 #acd1f9;
	cursor: pointer;
}

.breadcrumb .b-active {
	background-color: #f9c1cb;
	border-color: #f9c1cb;
}

.breadcrumb .b-active:hover {
	background-color: #fcb4c1;
	border-color: #fcb4c1;
}

.breadcrumb li {
	margin-left: 25px;
}

.breadcrumb li:hover {
	background: #9ac8f8;
	border-color: #9ac8f8;
	margin-left: 28px;
}

.breadcrumb li:before,
.breadcrumb li:after {
	content: "";
	position: absolute;
	border: 15px solid transparent;
	border-right: 0;
}

.breadcrumb li:before {
	right: 100%;
	border-top-color: inherit;
	border-bottom-color: inherit;
}

.breadcrumb li:after {
	left: 100%;
	border-left-color: inherit;
}

.breadcrumb li:first-child {
	border-radius: 10px 0 0 10px;
	padding-left: 15px;
	margin-left: 0;
}

.breadcrumb li:first-child:before {
	content: none;
}

.breadcrumb>li:last-child {
	border-radius: 0 10px 10px 0;
	padding-right: 15px;
	margin-right: 0;
}

.breadcrumb>li:last-child:after {
	content: none;
}